<!-- /project/users/templates/login.html -->

{% extends "template.html" %}

{% block content %}

<h1>Bienvenidos a FlaskTask</h1>
<form class="form-signin" role="form" method="post" action="/users/">
  {{ form.csrf_token }}
  <div class="lead">Inicia sesión para acceder</div>
    <p>
    {{ form.name(placeholder="usuario") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    </p>
    <p>
    {{ form.password(placeholder="contraseña") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    </p>
  <button class="btn btn-sm btn-success" type="submit">Entrar</button>
  <br>
  <br>
  <p><em>Crea una cuenta Gratis! </em><a href="{{ url_for('users.register') }}">Registrate!</a></p>
</form>

{% endblock %}